body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0}
body,button,input,select,textarea{font:14px/1.5 '\5FAE\8F6F\96C5\9ED1';color:#333;font-family: '微软雅黑'}
html,body{width:100%;background: #fafafa;height: 100%;}
h1,h2,h3,h4,h5,h6{font-weight:normal}
button,input,select,textarea{vertical-align:baseline;*vertical-align:middle}
address,cite,dfn,em,var,i{font-style:normal}
code,kbd,pre,samp{font-family:courier new,courier,monospace}
small{font-size:80%}
ul,ol{list-style:none}
a{text-decoration:none;color:#08C}
a:hover{text-decoration:none;color:#08C}
sub,sup{position:relative;font-size:75%;line-height:0;vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}
fieldset,img{border:0}
input:focus,textarea:focus{outline:none}
textarea{resize:none;overflow:auto;vertical-align:top}
button{cursor:pointer;padding:0}
table{border-collapse:collapse;border-spacing:0}
.clear{zoom:1;}
.clear:after{ content:''; display:block; clear:both;}
.fl{float:left}     
.fr{float:right}
.tl{text-align:left}
.tr{text-align:right}
.tc{text-align:center}
.vm{vertical-align:middle}
.pr{position:relative}
.pa{position:absolute}
.fn{font-weight:normal!important}
.fb{font-weight:bold}
.f12{font-size:12px}
.f14{font-size:14px}
.f16{font-size:16px;}
/*color*/
.bg-gray{background: #f7f7f7}
.bg-gray2{background: #ebebeb}
.bg-gray3{background: #f0efef}
.bg-orange{background: #f1b817}
.bg-bule{background: #20a8e3}
.bg-yellow{background: #fcf3e4;}
.c-red{color: #e84c3d;}
.c-bule{color: #20a8e3}
.c-orange{color: #e85539}
/*padding*/
.pr15{padding-right: 15px;}
.pr25{padding-right: 25px;}
.pl15{padding-left: 15px;}
.p20{padding: 20px;}
.p0{padding: 0!important;}

.icon{background: url(../images/icon.png) no-repeat;}
/*margin*/
.m0auto{margin: 0 auto;}
/*iframe*/
.iframe-header{height: 68px;background-color: #1582c3;position: fixed;z-index:1000;width: 100%; min-width:1120px;}
.iframe-header h1{font-size: 20px;color: #fff;padding-left: 20px; line-height: 68px;}
.iframe-header h1 img{margin: 12px 10px 0 0;}
.iframe-header .header-user{padding-right: 30px;}
.iframe-header .header-user .h-inquire {margin-top: 25px;padding-right: 30px;height: 23px;border-left: 1px solid #fff;border-right: 1px solid #fff;padding: 0 15px;}
.iframe-header .header-user .h-inquire input{width: 50px;background-color: #1582c3;border:none;}
.iframe-header .header-user .h-inquire i{width: 17px;height: 18px;background-position: -6px -387px;margin-top: 3px;cursor: pointer;;}
.iframe-header .header-user .h-user-head-box .user-head{background:url(../images/tx.gif) no-repeat -124px -157px; width: 35px;height: 35px;border-radius: 50%;border: 1px solid #fff;overflow: hidden;display: block;margin-right: 10px;}
.iframe-header .header-user .h-user-head-box{margin: 18px 0 0 15px;margin-top: 18px; line-height: 34px;color: #fff;}
.iframe-content{width: 100%;padding-top: 68px;}
.iframe-content .iframe-menu{width: 98px;height: 100%;position: fixed; background: #021e2e;z-index: 999;}
.iframe-content .iframe-right-content{width: 100%;}
.iframe-menu .iframe-menu-option li{cursor: pointer; width: 100%;height: 70px;border-top:1px solid #01111a;border-bottom: 1px solid #03273d;color: #b3bac1;font-size: 12px; text-align: center; }
.iframe-menu .iframe-menu-option li i{width: 25px;height: 25px;display: block;margin: 15px 30px 5px 35px;}
.iframe-menu .iframe-menu-option li .icon1{background-position: -2px -3px;width: 25px;height: 25px;}
.iframe-menu .iframe-menu-option li .icon2{background-position: -2px -36px;width: 36px;height: 27px;}
.iframe-menu .iframe-menu-option li .icon3{background-position: -2px -74px;width: 25px;height: 25px;}
.iframe-menu .iframe-menu-option li .icon4{background-position: -3px -113px;width: 28px;height: 25px;}
.iframe-menu .iframe-menu-option li .icon5{background-position: -3px -152px;width: 26px;height: 25px;}
.iframe-menu .iframe-menu-option li .icon6{background-position: -3px -192px;width: 27px;height: 27px;}
.iframe-menu .iframe-menu-option li .icon7{background-position: -2px -234px;width: 25px;height: 25px;}

.content{margin-left: 98px;padding: 15px 20px 20px 40px;}
.btn-blue{
background-image: -moz-linear-gradient(top, #045e91, #004e7d); /* Firefox */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #045e91), color-stop(1, #004e7d)); /* Saf4+, Chrome */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#045e91', endColorstr='#004e7d', GradientType='0'); /* IE*/
background:linear-gradient(to bottom, #045e91, #004e7d);
}
.title-box{position: relative; color: #141414;font-size: 16px;height: 45px;line-height: 45px; border-bottom: 1px solid #ddd;padding-left: 20px;display: block;}
/*关闭按钮*/
.icon-close{cursor: pointer; width: 20px;height: 20px;background-color: #ddd;border-radius: 50%;background-position:-46px -22px;position: absolute;right: 20px;top:14px;}
.icon-close:hover{
transform:rotate(180deg);
-webkit-transform:rotate(180deg); 
-moz-transform:rotate(180deg); 
-o-transform:rotate(180deg);
transition: all 1s;
-webkit-transition: all 1s;
-moz-transition: all 1s;
-o-transition: all 1s; }
/*星星*/
.icon-star{width: 18px;height: 14px;background-position: -47px -4px;display: block;margin-top: 7px;}
.icon-star-bray{width: 18px;height: 14px;background-position: -66px -4px;display: block;margin-top: 7px;}
.subtitle{margin-bottom: 10px; height:22px; line-height:20px; border-left:4px solid #fe6307; font-size:18px; padding-left:16px; font-weight:bold;}
.icon-rank{width: 14px;height: 17px;background-position: -54px -101px;display: inline-block;margin:-2px 7px;}
.ired{display:inline-block;width:17px;height:17px;line-height:17px;text-align:center;border-radius:3px;color:#fff;}
.ired1{background-color:#e34939;}
.ired2{background-color:#ef8177;}
.ired3{background-color:#f3a59e;}
.ired4{background-color:#b4b4b4;}

#main{
	width: 100%;
	height: 100%;
}














